*{padding: 0;margin: 0;box-sizing: border-box;word-break: keep-all;}
:root{
    --sidePadding--:36px;
    --black01--:#0b1223;
    --black02--:#0e0e0f;
    --black03--:#181a1e;
    --blue01--:#0a54ff;
    --yellow01--:#ffc939;
}
a{text-decoration: none;}
a{color: inherit;}
a:visited{color: inherit;}
.header{position: fixed;top: 0;left: 0;width: 100%;height: 100px;display: flex;align-items: center;justify-content: center;padding: 0 var(--sidePadding--);background-color: var(--black02--);z-index: 50;}
.header--wrap{display: flex;justify-content: space-between;width: 100%;}
.container{padding-top: 100px;}
.header--left{font-size: 20px;color: #fff;display: flex;align-items: center;}
.header--left a:visited{color: #fff;}
.header--center{display: flex;position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);}
.header--center a{width: 200px;border-bottom: 2px solid rgba(0,0,0,0);height: 98px;display: flex;align-items: center;color: #fff;font-size: 16px;font-weight: 600;justify-content: center;}
.header--center a:visited{color: #fff;}
.header--center a.on{color: var(--blue01--);border-bottom: 2px solid var(--blue01--);}

@media all and (max-width:767px){
    :root{
        --sidePadding--:18px;
    }
    .header{height: 80px;}
    .header--left{font-size: 16px;}
    .header--center{position: static;left: unset;top: unset;transform: translate(0%,0%);}
    .header--center a{width: unset;font-size: 14px;height: 78px;}
    .header--right{display: none;}
}