
#classList{    background-color: var(--black01--);}


.main--promoEvent,
.main--classFigure{width: 100%;max-width: calc(1280px + 120px);padding: 0 60px;margin: auto;position: relative;}
.main--promoEvent{margin-top: 100px;}
.figureSwiper,
.promoSwiper{width: 100%;max-width: 1280px;margin: auto;}

.promoSwiper-button,
.figureSwiper-button{display: flex;width: 100%;justify-content: space-between;position: absolute;top: 40%;left: 50%;transform: translate(-50%,0%);padding: 0 20px;}
.promoSwiper-button{top: calc(50% + 80px);transform: translate(-50%,-50%);}
.promoSwiper-button-prev,
.promoSwiper-button-next,
.figureSwiper-button-next,
.figureSwiper-button-prev{width: 18px;height: 18px;position: relative;left: unset;right: unset;top: unset;bottom: unset;margin: unset;}
.promoSwiper-button-prev:after,
.promoSwiper-button-next:after,
.figureSwiper-button-next:after,
.figureSwiper-button-prev:after{content:'';width: 11px;height: 11px;border: solid #fff;transform: rotate(45deg);display: block;}
.promoSwiper-button-prev:after,
.figureSwiper-button-prev:after{border-width: 0 0px 3px 3px;}
.promoSwiper-button-next:after,
.figureSwiper-button-next:after{border-width: 3px 3px 0 0;}

.classFigure--thumb{position: relative;width: 100%;background-color: #999;border-radius: 10px;display: block;}
.classFigure--thumb>a{padding-top: 85%;display: block;position: relative;background-size: cover;background-position: center center;border-radius: 10px;}
.classFigure--like{position: absolute;top: 16px;right: 16px;font-size: 11px;display: none;}
.classFigure--offline,
.classFigure--online{padding: 8px;border-radius: 4px;height: 24px;display: flex;align-items: center;position: absolute;top: 0;left: 10px;top: 10px;display: none;}
.classFigure--offline{background-color: red;color: #fff;}
.classFigure--online{background-color: var(--purple--);color: #fff;}
.classFigure--time{display: flex;font-size: 12px;align-items: center;color: var(--grayA--);display: none;}
.classFigure--time span{width: 1px;height: 8px;background-color: rgba(255,255,255,0.3);margin: 0 7px;}
.classFigure--title{line-height: 1.5;color: var(--white01--);font-size: 16px;font-weight: 800;margin-top: 15px;padding: 0 10px;}
.classFigure--tags{display: flex;margin-top: 20px;}
.classFigure--tags p:first-child{margin-right: 8px;}
.classFigure--tags p{padding: 7px 8px;border-radius: 4px;background-color: var(--black02--);color: var(--white01--);}

.classFigure--head,
.promoEvent--head{display: flex;justify-content: space-between;align-items: flex-end;width: 100%;max-width: 1280px;margin:0 auto 28px;color: #fff;}
.promoEvent--head-text01{font-size: 16px;font-weight: 500;margin-bottom: 1em;}
.classFigure--head-text01,
.promoEvent--head-text02{font-size: 24px;font-weight: 800;}
.promoEvent--head-text02{line-height: 1.5;margin-bottom: 0.5em;}
.promoEvent--head-text03{font-size: 16px;color: var(--grayBlue--);}
.promoEvent--thumb{position: relative;width: 100%;padding-top: 112%;background-color: #999;border-radius: 10px;display: block;}

.classFigure--link a,
.promoEvent--link a{display: flex;align-items: center;color: var(--grayA--);}
.classFigure--link a p,
.promoEvent--link a p{margin-right: 2px;margin-top: 1px;font-size: 15px;}
.classFigure--link a span,
.promoEvent--link a span{display: block;width: 8px;height: 8px;border: solid var(--grayA--);border-width: 0px 2px 2px 0px;transform: rotate(-45deg);}

@media all and (max-width:1024px){
    .main--classFigure{padding: 0 40px;}
    .figureSwiper-button{padding: 0 12px;}
}

.main--category{width: 100%;padding: 0 var(--sidePadding--);margin-top: 150px;}
.main--category-wrap{width: 100%;display: flex;flex-wrap: wrap;max-width: 1280px;margin: auto;}
.main--category-wrap a{width: calc(100% /4 - 60px / 4);background-color: var(--black02--);text-align: center;padding: 28px 10px;border-radius: 10px;}
.main--category-wrap a:not(:nth-child(4n)){margin-right: 20px;}
.main--category-wrap a:nth-child(4),
.main--category-wrap a:nth-child(3),
.main--category-wrap a:nth-child(2),
.main--category-wrap a:nth-child(1){margin-bottom: 20px;}
.main--category-text01{font-size: 15px;color: var(--grayBlue--);margin-bottom: 1em;}
.main--category-text02{font-size: 20px;color: #fff;}
@media all and (max-width:767px){
    .main--category-wrap a:nth-child(4), .main--category-wrap a:nth-child(3), .main--category-wrap a:nth-child(2), .main--category-wrap a:nth-child(1){margin-bottom: 20px;}
    .main--category-wrap a:not(:nth-child(4n)){margin-right: 0;}
    .main--category-wrap a{width: calc(100% / 2 - 10px);margin-bottom: 20px;margin-right: 0;}
    .main--category-wrap a:nth-child(odd){margin-right: 20px;}
    .main--category-text01{font-size: 14px;}
    .main--category-text02{font-size: 16px;}
}
@media all and (max-width:480px){
    .main--category-wrap a:nth-child(4), .main--category-wrap a:nth-child(3), .main--category-wrap a:nth-child(2), .main--category-wrap a:nth-child(1){margin-bottom: 10px;}
    .main--category-wrap a{width: calc(100% / 2 - 5px);margin-bottom: 10px;margin-right: 0;}
    .main--category-wrap a:nth-child(odd){margin-right: 10px;}
}
.main--video{width: 100%;padding: 0 40px;margin: 100px 0;}
.main--video-wrap{width: 100%;max-width: 1280px;margin: auto;position: relative;}
.main--video video{display: block;width: 100%;}
.main--video-cover{width: 100%;height: 100%;position: absolute;top: 0;left: 0;background: radial-gradient(rgba(255,255,255,0), rgba(0,0,0,0.7) 90%);overflow: hidden;cursor: pointer;}
.main--video-cover img{display: block;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
.main--video-cover-gradient{width: 100%;height: 100%;position: absolute;top: 0;left: 0;background: radial-gradient(rgba(255,255,255,0), rgba(0,0,0,0.9) 80%);}
.main--video-cover.hide{display: none;}

.main--introduce{width:100%;padding: 0 var(--sidePadding--);margin-top: 60px;margin-bottom: 160px;}
.main--introduce-wrap{width: 100%;max-width: 1280px;margin: auto;display: flex;border-radius: 10px;overflow: hidden;}
.main--introduce-text{background-color: var(--blue02--);color: #fff;width: 60%;padding: 36px 40px;}
.main--introduce-text01{font-size: 20px;font-weight: 700;line-height: 1.5;margin-bottom: 1em;}
.main--introduce-text02{font-size: 14px;display: flex;align-items: center;}
.main--introduce-text02 span{width: 6px;height: 6px;border: solid #fff;display: block;border-width: 1px 1px 0 0 ;transform: rotate(45deg);}
.main--introduce-bg{width: 40%;background-image: url(./img/main_introduce.png);background-size: cover;}
@media all and (max-width:767px){
    .main--introduce a{display: flex;flex-direction: column-reverse;}
    .main--introduce-bg{padding-top: 30%;border-radius: 10px 10px 0 0;background-size: 110%;}
    .main--introduce-bg,
    .main--introduce-text{width: 100%;}
}

.main--talk{position: fixed;z-index: 50;bottom: 100px;right: 20px;}
.main--talk span{border-radius: 50%;font-size: 15px;font-weight: 600;color: #fff;background-color: #f63441;position: absolute;top: 0;right: 0;width: 20px;height: 20px;display: flex;align-items: center;justify-content: center;}
